{% extends 'base.html' %}

{% block conteudo %}

<div class="container">
    <form method="post">
        <div class="row">
            {% csrf_token %}
            <div class="col-sm-12 col-md6">
                <fieldset class="row">
                    <legend class="mb-3" style="font-size: 30px; center;">Cadastro de Serviço</legend>
                    <div class="col-md-6 col-xl-7 mb-3">
                        <label class="form-label" for="txtTEL">Placa do veiculo</label>
                        <input class="form-control" type="text" id="txtPLA" {{ form_servico.placa }} 
                    </div> 
                    <div class="col-md-6 col-xl-7 mb-3">
                        <label class="form-label" for="txtsaldo">Peças usadas</label> <br>
                        {{ form_servico.produto }}
                    </div>
                    <div class="mb-3">
                        <label for="txtnome" class="form-label">Valor do serviço (R$) </label><br>
                        {{ form_servico.valor_servico }}
                    </div>
                    <div class="mb-3">
                        <label for="txtnome" class="form-label">Descrição do serviço</label>
                        <br>
                        {{ form_servico.descricao }}
                    </div>
                    
                </fieldset>
            </div>
            <div class="col-sm-12 col-md6">
            </div>
        </div>
        <div class="form-check mb-3">
            <input class="btn btn-primary" type="submit" value="Cadastrar">
        </div>
    </form>
</div>

{% endblock %}